# PHP / Symfony
/services/*/vendor/
/services/*/var/
/services/*/.env.local
/services/*/.env.*.local
/services/*/.phpunit.cache/
/services/*/phpunit.xml

# Node / Angular
node_modules/
/apps/*/dist/
/apps/*/.angular/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.log

# Nx / Angular
/web/node_modules/
/web/dist/
/web/.nx/
/web/tmp/
